# --- DEPENDANCES COMPOSER ---
/vendor/

# --- FICHIERS GENERES (EXPORTS) ---
excel-styled.xlsx
export-excel.php
export-styled.php

# --- CAPTURES / VISUELS ---
/visuels/

# --- LIVRABLES PERSONNELS ---
*.pdf
*.docx
*.xlsx

# --- SYSTEME / OS ---
.DS_Store
Thumbs.db

# --- IDE / EDITORS ---
/.vscode/
/.idea/
/nbproject/
